:root {
  --branding-color: #6d9773;
  --secondary-color: #0c3b2e;
  --heading-color: #ffba00;
  --heading-font-family: "Nunito", sans-serif;
}
body {
  font-family: var(--heading-font-family);
}
.logo {
  max-width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
}
h2 {
  color: var(--heading-color);
  font-size: 64px;
}
p {
  font-family: var(--heading-font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-color);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 150px 20px;
}
.hero p {
  font-size: 36px;
  color: white;
  margin: 0;
  padding: 50px;
}
.hero h1 {
  color: white;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: white;
}
.content-container {
  padding: 150px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--secondary-color);
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 24px;
  color: var(--secondary-color);
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.sections {
  color: var(--secondary-color);
}
.sections:hover {
  color: var(--heading-color);
}
.active {
  color: var(--heading-color);
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: var(--heading-color);
  background-color: var(--branding-color);
}
.media h1 {
  color: var(--branding-color);
}
.media h3 {
  color: var(--secondary-color);
}
.media h3:hover {
  color: var(--heading-color);
}
.media p,
a {
  color: var(--branding-color);
  text-decoration: none;
}
.media a:hover {
  color: var(--heading-color);
}
footer {
  text-align: center;
  margin: 50px;
  color: var(--secondary-color);
}
footer .email-link {
  font-size: 24px;
  color: var(--secondary-color);
}
footer .email-link:hover {
  color: var(--heading-color);
}
footer .social-links a {
  color: var(--branding-color);
  margin: 0 20px;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--heading-color);
}
.fa-brands {
  font-size: 30px;
}

@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    line-height: 56px;
    margin: 0;
  }
  .hero p {
    font-size: 20px;
  }
  .hero h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 50px;
    text-align: center;
    margin: 30px;
  }
  .btn-branding-outline {
    display: block;
    margin: 0 auto;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .media {
    text-align: center;
  }
}
